<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>VueJS</title>
  <link rel="stylesheet" href="">
  <script src="/js/vue.js"></script>
</head>
<body>
  <div id="app">
    <p>{{ sayHello() }}</p>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        title: 'Hello World!'
      },
      methods: {
        sayHello: function() {
                return this.title;
	    }
      }
    })
  </script>
</body>
</html>
